html{
  height: 100vh;
  width: 100vw;
}

body{
  height: 100%;
  width: 100%;
}

#root{
  height: 100%;
  width: 100%;
}

.App{
  height: 100%;
  width: 100%;
}


#game-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  place-content: center;
}

#header-wrapper{
  align-self: center;
}

#board-wrapper {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  place-items: center;
  align-self: center;
}

#board-wrapper__player-board-wrapper {
  display: grid;
  grid-column: 1;
  grid-row: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 300px;
  width: 300px;
}

#board-wrapper__player-board-wrapper--preparing {
  display: grid;
  grid-row: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 300px;
  width: 300px;
}
#info-area{
  display:flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1;
  place-items: center;
  height: 100%;
  justify-content: center;
}

#turn-display{
}

#cat-face-wrapper{
  display: flex;
  height: 80%;
  align-items: center;
}

#cat-face{
  display:flex;
  flex-direction: column;
  place-items: center;
}

#cat-lives-wrapper{
  display:flex;
}

.cat-lives-wrapper__heart{
width: 3vw;
max-width: 110px;
min-width: 25px;
}

#cat-face-wrapper__cat-face{
  margin-bottom: 10px;
  width: 10vw;
  height: auto;
  min-width: 58px;
}

#board-wrapper__computer-board-wrapper {
  display: grid;
  grid-column: 3;
  grid-row: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 300px;
  width: 300px;
}

.empty-block {
  background: white;
  border: solid 1px black;
}

.empty-block--hovered{
  background: red;
  border: solid 1px black;
}

.empty-block--hovered--not-allowed {
  background: white;
  border: solid 1px black;
  cursor: not-allowed;
}

.ship-block {
  background: red;
  border: solid 1px black;
}

.player-ship-block {
  border: solid 1px black;
  background: cyan;
  height: 100%;
}

.player-ship-block--hit {
  display:flex;
  place-items: center;
  place-content: center;
  border: solid 1px black;
  background: orange;
  height: 100%;
}

.player-ship-block--sunk {
  border: solid 1px black;
  background:grey;
  height: 100%;
}

.miss-block{
  background:black
}

.invisible-block {
  background: white;
  height: 100%;
  width: 100%;
}

.enemy-ship-block {
  background: white;
  border: solid 1px black;
}

.enemy-ship-block--hit {
  display:flex;
  place-items: center;
  place-content: center;
  background: orange;
  border: solid 1px black;
  height: 100%;
}

.enemy-ship-block--sunk {
  background: grey;
  border: solid 1px black;
  height: 100%;
}

#player-ships-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  grid-column: 3;
  grid-row: 1;
  flex-wrap: wrap;
  width: fit-content;
}

.ship {
  background: white;
  border: solid 1px black;
}

.ship__rotate-ship-button{
  border: none;
  outline: none;
  align-self: center;
  height: 31px;
}

.player-ships-wrapper__ship--horizontal {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
}

.ship-highlight{
  width: fit-content;
  margin: 10px;
}

.ship-highlight--selected{
  margin: 10px;
  width: fit-content;
  -webkit-box-shadow: 0px 0px 0px 1px #f00;
  -moz-box-shadow: 0px 0px 0px 1px #f00;
  box-shadow: 0px 0px 0px 1px #f00;
}


.player-ships-wrapper__ship--vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  height: fit-content;
}


.player-ship__ship-blocks {
  display: flex;
}

.player-ship-block--docked {
  height: 29px;
  width: 29px;
  border: solid 1px black;
  pointer-events: none;
}

.error-wrapper{
  grid-column: 2;
}

#start-game-button{
  grid-column: 2;
}

#game-over-info{
  display:flex;
  flex-direction: column;
}

@media only screen and (min-width: 769px) {
  #board-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 10px;
    place-items: center;
    align-self: center;
  }
  
  #board-wrapper__player-board-wrapper {
    display: grid;
    grid-column: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 31vw;
    width: 31vw;
  }
  
  #board-wrapper__player-board-wrapper--preparing {
    display: grid;
    grid-column: 2;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 31vw;
    width: 31vw;
  }

  #cat-face-wrapper__cat-face{
    margin-bottom: 10px;
    width: 10vw;
    height: auto;
  }

  #cat-lives-wrapper{
    display:flex;
  }
  
  .cat-lives-wrapper__heart{
  width: 3vw;
  max-width: 110px;
  }
  
  
  #board-wrapper__computer-board-wrapper {
    display: grid;
    grid-column: 3;
    grid-row: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    height: 31vw;
    width: 31vw;
  }
  

  .player-ship-block--docked {
    height: 49px;
    width: 49px;
    border: solid 1px black;
    pointer-events: none;
  }

  .player-ships-wrapper__ship--horizontal {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
  }
  
  .player-ships-wrapper__ship--vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
  }
  
  .ship__rotate-ship-button{
    height: 51px;
    align-self: center;
  }
}