#game-wrapper {
  display: flex;
  flex-direction: column;
}

#board-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  place-items: center;
  align-self: center;
}

#board-wrapper__player-board-wrapper {
  display: grid;
  grid-column: 1;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
}

#board-wrapper__computer-board-wrapper {
  display: grid;
  grid-column: 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 500px;
  width: 500px;
}
.empty-block {
  background: white;
  border: solid 1px black;
}

.ship-block {
  background: red;
  border: solid 1px black;
}

.player-ship-block {
  border: solid 1px black;
  height: 100%;
}

.invisible-block {
  background: white;
  height: 100%;
  width: 100%;
}

.enemy-ship-block {
  background: white;
  border: solid 1px black;
  height: 100%;
}

.enemy-ship-block-hit {
  background: red;
  border: solid 1px black;
  height: 100%;
}

#player-ships-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
}

.ship {
  background: white;
  border: solid 1px black;
}

.player-ships-wrapper__ship--horizontal {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 20px;
}

.player-ships-wrapper__ship--horizontal--selected {
  display: flex;
  flex-direction: row;
  width: fit-content;
  margin: 20px;
  border: solid 1px red;
}


.player-ships-wrapper__ship--vertical {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 20px;
}

.player-ships-wrapper__ship--vertical--selected {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 20px;
  border: solid 1px red;
}

.player-ship__ship-blocks {
  display: flex;
}

.player-ship-block {
  height: 49px;
  width: 49px;
  border: solid 1px black;
  pointer-events: none;
}
